@import "./base.css";

/* custom CSS rules can be added to your stylesheet */
/* body {
  background-color: lime;
} */

/* for more power, you can also use the @layer directive to add styles 
to Tailwind’s base, components, and utilities layers */
/* @layer base {
  body {
    background-color: lime;
  }
} */

/* https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
/* use the theme function or the @apply directive when adding custom base 
styles if you want to refer to any of the values defined in your theme */
@layer base {

  /* specify the Inter font family that has been imported inside `base.css` */
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-gray-50 dark:bg-slate-900
  }

  /* 
  default-class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-400 rounded-md hover:bg-gray-800 hover:text-white-300"  
  active-class="flex items-center gap-x-3 py-2 px-2.5 bg-gray-700 text-sm text-white rounded-md"
  exact-active-class="flex items-center gap-x-3 py-2 px-2.5 bg-gray-700 text-sm text-white rounded-md"
  inactive-class="flex items-center gap-x-3 py-2 px-2.5 bg-red-700 text-sm text-white rounded-md"
  */

  nav a.router-link {
    @apply flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-400 rounded-md hover:bg-gray-800 hover:text-white
  }

  nav a.router-link-active {
    @apply flex items-center gap-x-3 py-2 px-2.5 bg-gray-700 text-sm text-white rounded-md
  }

  nav a.router-link-exact-active {
    @apply flex items-center gap-x-3 py-2 px-2.5 bg-gray-700 text-sm text-white rounded-md
  }

  /* nav a.router-link-inactive {
    @apply flex items-center gap-x-3 py-2 px-2.5 bg-red-700 text-sm text-white rounded-md
  } */
}
